{% load static %}
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Football Wombat</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <style>
   body {
    background: url({% static 'background.jpg' %}) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
   }
  </style>
  </head>
  <body>

    <div class="container"  >
        <div class="row" >
            <h1><b>Football Wombat</b></h1>
            <nav class="navbar navbar-default" >
                <div class="collapse navbar-collapse"id="navbar-collapse-1" role="navigation">
                    <div class="nav navbar-nav" >
                    <li><a href="{% url 'list' %}"><b>MAIN</b></a></li>
                    <li><a href="{% url 'game_new' %}"><b>NEW GAME</b></a></li>
                    <li><a href="{% url 'player_new' %}"><b>NEW PLAYER</b></a></li>
                    {% if not request.user.is_authenticated %}
                        <li><a href="{% url 'login' %}"><b>LOGIN</b></a></li>

                    {% else %}
                    <li><a href="{% url 'logout' %}"><b>LOGOUT</b></a></li>
                    {% endif %}
                    </div>
                </div>
            </nav>
        {% block content %}{% endblock %}
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{%  static "js/bootstrap.js" %}"></script>
  </body>
</html>