{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
{% load comments %}

{#<h1><a href="{% url 'logout' %}">выход</a></h1>#}


<div class="container">
    <div class="row">
    <div class="col-md-6">
    <h2><b>FOOTBALL GAMES</b></h2>
{#        <h1><a href="{% url 'game_new' %}">создать игру</a></h1>#}
<hr>

{% for game in games %}
    {% get_comment_count for game as comment_count %}
    <div>
        <p> </p>
        <p><b><i class="glyphicon glyphicon-info-sign"></i> Описание: {{ game.description }}</b></p>
        <p><b><i class="glyphicon glyphicon-globe"></i> Место: {{ game.place_name }}</b></p>
        <p><b><i class="glyphicon glyphicon-calendar"></i> Дата: {{ game.date }}</b></p>
        <p> </p>
    </div>
    <small >
    <p><i class="glyphicon glyphicon-comment"></i> Комментарии: [{{ comment_count }}]</p>

    {% render_comment_list for game %}
    </small>
    <div>
    {% if user.is_authenticated %}
        {% get_comment_form for game as form %}
<table>
        <style> #id_comment {
                            height: 50px;
                            }

        </style>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form.comment }}
{#    {{ form.honeypot }}#}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
      <p></p>
    <tr>
      <td colspan="2">
        <input type="submit" class="btn btn-primary btn-sm" name="submit" value="Post">
        <input type="submit" class="btn btn-primary btn-sm" name="preview" value="Preview">
      </td>
    </tr>
  </form>
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}
</table>
    </div>
<hr>
{% endfor %}
</div>
    <div class="col-md-6">
    <div>
    <h2><b>FOOTBALL PLAYERS</b></h2>
        <hr color="#0f0f0f">
{#        <h1><a href="{%  url 'player_new' %}">создать игрока</a></h1>#}
</div>

{% for player in players %}
    <div>

        <p><b>Ник: {{ player.user.username }}</b></p>
        <p><b>Имя: {{ player.user.first_name }}</b></p>
        <p><b>Фамилия: {{ player.user.last_name }}</b></p>
    <hr>
    </div>
{% endfor %}
{% endblock %}
</div>
</div>
</div>
</body>
</html>