{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}
        {% if  game_create  %}
          <h1>GAME CREATE </h1>
            <hr>
        {% else %}
         <h2>New game </h2>
        <form method="POST" class="game-form">{% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="save btn btn-primary">Save</button>
        </form>
        {% endif %}
    {% endblock %}
</body>
</html>