{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% block content %}
    <center>
    <br>
        <br>
<h1>Login Form</h1>

        <form class="form-search" id="login_form" method="post" action="/login/">
            <div class="control-group">
            {% csrf_token %}
                 <label class="control-label" for="inputUsername">Username:</label>
                <div class="controls">
                    <input type="text" name="username" id="inputUsername" value="" size="30" >
                </div>
            </div>
            <br />
              <div class="control-group">
                <label class="control-label" for="inputPassword">Password:</label>
                    <div class="controls">
                <input type="password" name="password" id="inputPassword" value="" size="30" >
                    </div>
              </div>

            <br>

            <input type="submit" class="btn btn-primary btn-lg"  value="login" />
        </form>

    </center>
{% endblock %}
</body>
</html>