{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        {% if  player_create  %}
          <h1>PLAYER CREATE</h1>

        {% else %}
         <h2>New player</h2>
            <hr>
        <form method="POST" class="player-form">{% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="save btn btn-primary">Save</button>
        </form>
        {% endif %}
{% endblock %}
</body>
</html>